.AddComment{

}

.AddComment .addCommentBtn {
    box-sizing: border-box;
padding: 0.5rem 1rem;
background-color: rgb(111, 36, 141);

border: 2px solid transparent;
outline: none;

color: white;
border-radius: 1rem;

cursor: pointer;
transition: all 400ms ease;

font-weight: 700;

margin: 0 2rem;
}

.AddComment .addCommentBtn:hover{
    background-color : transparent;
    color: rgb(111, 36, 141);
    border: 2px solid rgb(111, 36, 141);
    font-weight: 700;
}

.AddComment  .textArea{
   width: 100%;
   margin: 0.5rem auto;
   height: 300px;
   resize: none;

   padding: 2rem;

   font-size: 1rem;
}

.AddComment{
/* border-bottom: 2px solid rgb(182, 182, 182); */
padding-bottom: 1rem;

}