.wrap {
  outline:  1px  solid black;
  width: 900px;
}
.wrap p ,
 .wrap h1 ,
 .wrap  img{
margin: 0;
padding: 0;
max-width: '100%';
max-height: '100%';
}

.wrap .description{
  padding:  0 1rem ;
  /* display: none; */
 

  transition : all 1000ms ease; 
}
.wrap .description:hover{
  height: auto;
}




/* styles for footer */
.footer{
  justify-content: space-between;
  align-items: center;

  padding: 0 6rem;
}
.footer button , .footer img{
 width: 5rem;
 height: 100%;
}
.footer img{
  max-width: 100px;
  margin: 0;
  margin-right: auto;
}
.hovered  {
  transition: all 400ms ease;
  cursor: pointer;
}
.hovered:hover {
opacity: 0.8;
text-decoration: underline ; /* todo add after element insted bs transition isnt working*/
}
