.Footer{
width: 100%;
background-color : royalblue;

display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
min-height: 200px;
/* position: absolute;
bottom: 0; */

}

.Footer .link{
    margin: 0.8rem;  
}