@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Header {
  display: flex;
justify-content: space-between;
  align-items: center;

  padding: 0 6rem;
 

  margin: 0 0 1rem 0;

  height: 50px;
  /* padding: 10px 6rem; */
  width: 100%;

  background-color: black; /* for now just soo we can see*/   
}
.Header > * {
  
}

.Header .authLinks{
  display: flex;
  height: 40px;
}

.Header .authLinks .link{
  margin: 0 0.2rem;
padding: 0.5rem 1.2rem;



text-decoration: none;
border-radius: 2rem;
  background-color: rgb(111, 36, 141);  /* for now just soo we can see*/ 

  color: white;
  border: 1.5px solid transparent;

  transition: all 400ms ease;
  cursor: pointer;

  font-size: 1rem;
}

.Header .authLinks .link:hover{
box-sizing: border-box;


  background-color: transparent; 
  color: rgb(111, 36, 141);
  border: 1.5px solid rgb(111, 36, 141);
}

  .Header .btn , .Header .logo{
   /* width: 5rem; */
   /* height: 30px ;  */
   margin: auto;
  /* height: 80%; */
   /* height: 40px; */
   
  }
  
  

  .Header .logo{
    font-family: 'Pacifico' , sans-serif;

    margin: 0 2rem;
    padding: 0;
   
    color: rgb(111, 36, 141);
    cursor: pointer;
cursor: pointer;
font-size: 1.7rem;

/* transform: translateY(-10%); */
  }


  .wraperHeader {
    height: 65%;
  }