
.LoginForm  {
    width: 100%;

    /* padding: 2rem;  */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.LoginForm link{
margin: 0;

color: rgb(111, 36, 141);
text-decoration: underline;
}



.LoginForm .formLogin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    

     width: 80%; 
   
}

 
.LoginForm .formLogin .wraper1 ,
.LoginForm .formLogin .wraper2 {
     width: 100%;

}

.LoginForm .formLogin .wraper2{
    position: relative; 
}


.LoginForm .formLogin .wraper2 .passwordInput , 
.LoginForm .formLogin  .wraper1 .emailInput {
    width: 100%;
    padding-left : 1rem ;

    margin: 0.5rem 0;

    height: 2rem;
    background-color:#ffffff !important;
    background: #ffffff !important;
    outline: none;
}


.LoginForm .formLogin .wraper2 .eye{
    position: absolute;
    right: -2rem;
    top: 50%;

    transform: translateY(-50%);
    cursor: pointer;
}
.LoginForm .formLogin .submitButton{

    background-color:  rgb(111, 36, 141);
    color: white;
    padding: 0.4rem 0.6rem ;

    border: 2px solid transparent;
    border-radius: 1.6rem;
    
    outline: none;
    
    margin: 0.2rem 0;
    margin-bottom: 0.6rem;
  
    cursor: pointer;
    transition: all 400ms linear;
}
.LoginForm .formLogin .submitButton:hover{
   
    border: 2px solid rgb(111, 36, 141);
    background-color: transparent;
    color: rgb(111, 36, 141);  
   
 
}


.LoginForm .formLogin .loginError {
   color: rgb(111, 36, 141);
   text-decoration: none;
   
   font-size: 0.7rem;
   cursor: default;
}







