.ResetPassword{

}




.ResetPassword .goBackButton{
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50% , -50%);

    font-size: 1rem;

    margin: 0;
    padding: 0.3rem 0.6rem;
    color: white;

    border: 2px solid transparent;
    border-radius: 1rem;
    cursor: pointer;

    background-color: rgb(111, 36, 141);
        transition: all 400ms linear;

}
.ResetPassword .goBackButton:hover{

    border: 2px solid rgb(111, 36, 141);
    background-color: transparent;
     color: rgb(111, 36, 141);


}

.ResetPassword .inputResetEmail , 
.ResetPassword .inputResetCode {

padding-left: 2rem;
outline: none;
background-color: #fff !important;
height: 2rem;

}

.ResetPassword .errorReset {
    font-size: 0.8rem !important;
    text-decoration: none !important;
    text-align: center;
}


.ResetPassword .inputResetCode {

}