.Search{
    width: 45rem;
   
   display: flex;
   align-items: center;
   
   margin-right:  10rem ;
     /* height: 100%; */
     padding-left: 5rem;
}
.Search > * {
    box-sizing: border-box;
}

.Search form{
    width: 100%;
    height: 100%;
/* height: auto; */
}

.Search button{
    height: 100%;
    width: 7%;
color: white;
cursor: pointer;

    background-color: rgb(111, 36, 141);

    border: none;
    outline: none;

    z-index: 100;
    border: 1px solid transparent;
}
.Search .inputWraper {
    height: 100%;
    max-height: 100%;
    width: auto;
    position: relative;
    
}
.Search .inputWraper input {
    width: 90%;
    /* height: 90%; */
   
    padding-left: 2rem;

font-size: 1rem;
    font-weight: 600;
    color: rgb(111, 36, 141);

    border: 1px solid transparent;
   }  
   
   .Search .inputWraper input::placeholder {
   color: rgb(164, 89, 194);
   font-size: 1rem;
   
   }
  
   .effect-8{
       outline: none;
       border: 1px solid #ccc;
         transition: 0.4s;
        }

    .effect-8 ~ .focus-border:before,
    .effect-8 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 3.5px; background-color: rgb(111, 36, 141); transition: 0.3s;}
    .effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
    .effect-8 ~ .focus-border i:before,
    .effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 3.5px; height: 0; background-color: rgb(111, 36, 141); transition: 0.4s;}
    .effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
    .effect-8:focus ~ .focus-border:before,
    .effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
    .effect-8:focus ~ .focus-border i:before,
    .effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}
