
.wrap p ,
 .wrap h1 ,
 .wrap  img{
margin: 0;
padding: 0;
max-width: '100%';
max-height: '100%';
}

.wrap .description{
  padding:  0 1rem ;
  /* display: none; */
 

  transition : all 1000ms ease; 
}
.wrap .description:hover{
  height: auto;
}